body{
    margin: 0px;
    background-color: #fffacd;
    font-family: condensed;
}

.logo{
   padding-left: 4.375rem;
   
}

.cabecalho{
    box-sizing: border-box;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between; 
    background-color: #F0E68C;
    
}

.menu{
    margin: 0px;
    padding-right: 4.375rem;
    display: flex;
    list-style: none;
    gap: .5rem
}

.menu li a{
    color: #5D2E10;
    text-decoration: none;
    
    display: block;
    padding: .5rem;
}

.logosocial{
    width: 1.563rem;
}

footer{
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1.563rem;
}


.menu li a.item-menu-ativo{
    color: #5D2E10;
}

.menu li a:hover{
    color: #5D2E10;
}

#btn-menu{
    display: none;
}

/*Formatação conteúdo*/

form textarea{
    outline: unset;
    width: 15.625rem;
    height: 2.188rem;
    border-radius: 0.313rem;
}

#txtcadastro{
    outline: unset;
    width: 15.625rem;
    height: 2.188rem;
    border-radius: 0.313rem;
}

section{
    border: solid black 1px;
    border-radius: 1rem ;
    text-align: center; 
    padding: 30px;  
    width: auto; 
    margin-top: 50px; 
    background-color: #5D2E10;
    color: white;
}

h5, h3{
    color: #0083ca;
}

#p1{
    font-size: medium;
}

#p2{
    font-size: small;
}



/*Formatação para telas menores*/
@media (max-width: 600px){
    .menu{
        display: block;
        position: absolute;
        visibility: hidden;
        width: 100%;
        top: 9.375rem;
        right: 0px;
        background-color: #F0E68C;
        height: 0px;
        z-index: 1000;
        transition: .6s;
        overflow-y: hidden;
    }

    #cx-menu.active .menu{
        visibility: visible;
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    .menu li a{
        padding: 1rem 0; 
        margin: 0 1rem;
        border-bottom: 1px solid #5D2E10;
    }

    #btn-menu{
        display: flex;
        padding: .5rem 1rem;
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        border: none;
        background-color: #F0E68C;
        cursor: pointer;
        gap: .5rem; 
        outline: 0;
        align-items: center;
    }

    .hamburger{
        display: block;
        border-top: 2px solid;
        width: 20px;
        color: #5D2E10; 
    }

    .hamburger::after, .hamburger::before{
        display: block;
        content: '';
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background-color: currentColor;
        transition: .3s;
        position: relative;
    }

    #cx-menu.active .hamburger{
        border-top-color: transparent;
    }

    #cx-menu.active .hamburger::before{
        transform: rotate(135deg);
    }

    #cx-menu.active .hamburger::after{
        transform: rotate(-135deg); 
        top: -7px;  
    }
}
